div#Content {
	margin-top: 60px;
}

header#Header {
	margin-top: 30px;
	padding: 12px;
}

footer.footer {
	margin-top: 20px;
    background-color: #eee;
}

div.panel > div.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
* Big Messages (Errors, etc.)
*/
section#Error {
	padding-top:0;
}

.big-message {
    color: #5A5A5A;
    margin: 8em 0;
    text-align: center;
}
.big-message h1 {
    font-size: 120px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0.0em 0 0.5em;
}
.big-message h2 {
    font-size: 30px;
	font-weight: 200;
    margin: 1.0em 0 0.5em;
}
.big-message p {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.0em 0 0.5em;
}
.big-message .actions {
    margin: 5.0em 0 2.0em 0;
}
.big-message .actions a {
    margin: 0 1.0em;
	text-decoration: none;
}
.current-user {
	color: #F0AD4E;
	font-weight: bold;
}