

/* needs more styling in tables since rows are transparent */
/*
div#wrapper {
  background-size: cover;
  background-repeat: no-repeat;
}

div#wrapper {
  background-image: url('bg-xs.jpg');
}

@media only screen and (min-width: 1000px) {
  div#wrapper {
    background-image: url('bg-s.jpg');
  }
}

@media only screen and (min-width: 1200px) {
  div#wrapper {
    background-image: url('bg-m.jpg');
  }
}

@media only screen and (min-width: 1920px) {
  div#wrapper {
    background-image: url('bg-l.jpg');
  }
}

@media only screen and (min-width: 2560px) {
  div#wrapper {
    background-image: url('bg-xl.jpg');
  }
}
*/